    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'sans-serif';
    }

    header {
        width: 100%;
        height: 70px;
    }

    .container-header {
        width: 100%;
        max-width: 1200px;
        position: absolute;
        margin: auto;
    }

    .container-portada {
        width: 100%;
        height: 600px;
        background-image: url(../image/img.jpg);
        background-size: 100%;
        animation: movimiento 20s infinite linear alternate;
        position: relative;
    }

    @keyframes movimiento {
        from {
            background-position: bottom left;
        }
        to {
            background-position: top right;
        }
    }

    .capa-gradient {
        width: 100%;
        height: 100%;
        position: absolute;
        background: -webkit-linear-gradient(left, black, #dd8cab);
        opacity: 0.2;
    }

    .container-details {
        width: 100%;
        max-width: 1200px;
        position: absolute;
        margin: auto;
    }

    .details {
        width: 100%;
        max-width: 500px;
        position: relative;
        top: 20px;
        background: rgb(156, 204, 204);
        opacity: .6;
    }

    .details h1 {
        font-size: 50px;
        font-weight: 100;
        margin-left: 10px;
    }

    .details p {
        margin-top: 10px;
        font-size: 25px;
        font-weight: 100;
        margin-left: 10px;
    }

    main {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }

    @media screen and (max-widht:500px) {
        .detail p {
            font-size: 18px;
        }
    }
    /*Iconos de las redes sociales*/

    .container-redes {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-redes a {
        margin-top: 4px;
    }

    .container-redes img {
        width: 60px;
        padding: 4px;
        background: rgba(0, 0, 0, 0.0);
        cursor: pointer;
        border-radius: 100%;
        transition: all 300ms;
    }

    .container-redes a:hover img {
        background: rgba(0, 0, 0, 0.10);
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        background: #dd8cab;
    }

    ul li {
        list-style: none;
        margin: 0 20px;
        transition: 0.5s;
    }

    ul li a {
        display: block;
        position: relative;
        text-decoration: none;
        padding: 5px;
        font-size: 18x;
        font-family: sans-serif;
        color: #fff;
        text-transform: uppercase;
        transition: 0.5s;
    }

    ul:hover li a {
        transform: scale(1.5);
        opacity: .2;
        filter: blur(5px);
    }

    ul li a:hover {
        transform: scale(2);
        opacity: 1;
        filter: blur(0);
    }

    ul li a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ff497c;
        transition: transform 0.5s;
        transform-origin: right;
        transform: scaleX(0);
        z-index: -1;
    }

    UL LI A:HOVER::before {
        transition: 0.5s;
        transform-origin: left;
        transform: scaleX(1);
    }

    footer {
        width: 100%;
        color: white;
    }

    .container-footer-all {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 40px;
    }

    .container-body {
        display: flex;
        justify-content: space-between;
    }

    footer {
        width: 100%;
        background: #202020;
        color: white;
    }

    .container-footer-all {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 40px;
    }

    .container-body {
        display: flex;
        justify-content: space-between;
    }

    .row img {
        width: 36px;
        height: 36px;
    }

    .row label {
        margin-top: 10px;
        margin-left: 20px;
        color: #C7C7C7;
    }

    .colum3 {
        max-width: 400px;
    }

    .colum3 h1 {
        font-size: 22px;
    }

    .row2 {
        margin-top: 20px;
        display: flex;
    }

    .row2 img {
        width: 36px;
        height: 36px;
    }

    .row2 label {
        margin-top: 10px;
        margin-left: 20px;
        max-width: 140px;
    }

    .container-footer {
        width: 100%;
        background: #101010;
    }

    .footer {
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .copyright {
        color: #C7C7C7;
    }

    .copyright a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    .information a {
        text-decoration: none;
        color: #C7C7C7;
    }

    @media screen and (max-width: 1100px) {
        .container-body {
            flex-wrap: wrap;
        }
        .colum1 {
            max-width: 100%;
        }
        .colum2,
        .colum3 {
            margin-top: 40px;
        }
    }